<p-table
  #dt
  [value]="globalCovidData"
  dataKey="countryInfo._id" 
  styleClass="p-datatable-countries"
  [rowHover]="true" 
  [rows]="10" 
  [showCurrentPageReport]="true" 
  [rowsPerPageOptions]="[10,25,50]" 
  [loading]="loading"
  [paginator]="true" 
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
  [filterDelay]="0"
  [globalFilterFields]="['name','country']"
  >

  <ng-template pTemplate="caption">
    <div class="table-header p-d-flex p-jc-between p-ai-center">
      <h2>List of Countries</h2>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Global Search" />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon></th>
      <th pSortableColumn="population">Population <p-sortIcon field="population"></p-sortIcon></th>
      <th pSortableColumn="cases">Cases <p-sortIcon field="cases"></p-sortIcon></th>
      <th pSortableColumn="recovered">Recovered <p-sortIcon field="recovered"></p-sortIcon></th>
      <th pSortableColumn="deaths">Deaths <p-sortIcon field="deaths"></p-sortIcon></th>
      <th pSortableColumn="critical">Critical <p-sortIcon field="critical"></p-sortIcon></th>
      <!-- <th pSortableColumn="representative.name">Representative <p-sortIcon field="representative.name"></p-sortIcon></th> -->
      <!-- <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th> -->
      <!-- <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th> -->
      <!-- <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon></th> -->
      <th></th>
    </tr>
    <!-- <tr>
      <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'country', 'startsWith')" placeholder="Search by Country" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter">
      </th>
      <th>
        <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)"
          styleClass="p-column-filter" optionLabel="name">
          <ng-template let-option pTemplate="item">
            <div class="p-multiselect-representative-option">
              <span class="p-ml-1">{{option.label}}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </th>
      <th>
        <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')"
          [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date" [readonlyInput]="true"
          dateFormat="yy-mm-dd"></p-calendar>
      </th>
      <th>
        <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')"
          styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>
        <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter">
      </th>
      <th></th>
    </tr> -->
  </ng-template>

  <ng-template pTemplate="body" let-globalCovidData>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">
          <img class="flag" [src]="globalCovidData.countryInfo.flag" width="30">
          {{globalCovidData.country}}
        </span>
      </td>
      <td><span class="p-column-title">{{globalCovidData.population}}</span></td>
      <td><span class="p-column-title">{{globalCovidData.cases}}</span></td>
      <td><span class="p-column-title">{{globalCovidData.recovered}}</span></td>
      <td><span class="p-column-title">{{globalCovidData.deaths}}</span></td>
      <td><span class="p-column-title">{{globalCovidData.critical}}</span></td>
      <!-- <td>
        <span class="p-column-title">Status</span>
        <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
      </td> -->
      <td style="text-align: center;"><button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button></td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No country found</td>
    </tr>
  </ng-template>

</p-table>