// Color set
$color-success: #31cf53;
$color-danger: #df2e36;
$color-1: #2aaee2;
$color-2: #5e7077;

body {
  padding: 0.4rem;
}

.color-success {
  color: $color-success;
}

.color-danger {
  color: $color-danger;
}

.color-1 {
  color: $color-1;
}

.color-2 {
  color: $color-2;
}
